apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: "{{ .Values.redis.name }}-set"
  labels:
    app: {{ .Values.redis.name }}
spec:
  serviceName: {{ .Values.redis.svc.name }}
  replicas: 1
  selector:
    matchLabels:
      app: {{ .Values.redis.name }}
  template:
    metadata:
      labels:
        app: {{ .Values.redis.name }}
    spec:
      containers:
      - name: {{ .Values.redis.name }}
        image: "{{ .Values.redis.image.repository }}:{{ .Values.redis.image.tag }}"
        ports:
        - containerPort: {{ .Values.redis.svc.port }}
          name: redis
        livenessProbe:
          exec:
            command: ["redis-cli", "ping"]
          initialDelaySeconds: 5
          periodSeconds: {{ .Values.redis.healthcheck.interval | replace "s" "" }}
          timeoutSeconds: {{ .Values.redis.healthcheck.timeout | replace "s" "" }}
          failureThreshold: {{ .Values.redis.healthcheck.retries }}
        readinessProbe:
          exec:
            command: ["redis-cli", "ping"]
          initialDelaySeconds: 5
          periodSeconds: 5
        {{- if .Values.redis.persistence.enabled }}
        volumeMounts:
        - name: redis-data
          mountPath: {{ .Values.redis.persistence.mountPath }}
        {{- end }}
  {{- if .Values.redis.persistence.enabled }}
  volumeClaimTemplates:
  - metadata:
      name: redis-data
    spec:
      accessModes: [ "ReadWriteOnce" ]
      resources:
        requests:
          storage: {{ .Values.redis.persistence.size }}
  {{- end }}